{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

        <h1>Ainsley says...</h1>
        I'm all ABOUT that meat! You've rubbed it {{ visits }} times, <strong>{{ boldmessage }}</strong><br />        
        <img src="{% static "images/ainsley.jpg" %}" alt="Picture of Ainsley" /> <br/>
		
    </body>

{% endblock %}