{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}


<h1>DJ Khaled says...</h1>
{% if user.is_authenticated %}
<div class="page-header">
<h1>hello {{ user.username }}!</h1>  <strong>{{ boldmessage }}</strong><br/>
{% else %}
<h1>hello world!</h1><br/>
{% endif %}
</div>
 <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
               <h4 align='left'>Categories</h4>

              {% if categories %}
                    <ul align = 'left'>
                        {% for category in categories %}
                         <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}

            </div>
            <div class="col-xs-12 col-sm-6 placeholder">
              <h4 align='left'>Pages</h4>

                {% if pages %}
                    <ul align='left'>
                        {% for page in pages %}
                        <li>
                        <a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a>
                        {% if page.views > 1 %}
                            ({{ page.views }} views)
                        {% elif page.views == 1 %}
                            ({{ page.views }} view)
                        {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
            </div>

          </div>


       
        
<img src="{% static "images/DJ%20Khaled.jpg" %}" alt="Picture of Khaled" /> <br/>
{% endblock %}