{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

        <h1>$20000! Congratulations...U SMAHT</h1>
        You finally have enough to buy momma a house<br />        
        <img src="{% static "images/momma.png" %}" alt="Picture of house money" /> <br/>
		
    </body>

{% endblock %}