{% extends "rango/base.html" %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block body_block %}

    <div class="row">
       
        <div class="panel panel-primary">
            <center><h1>Ask Papa Khaled!</h1></center>
             <center><img src="{% static "images/papa.jpg" %}" alt="Picture of Papa Khaled" /> </center><br/><br/>
            <br/>


            <center><form class="form-inline" id="user_form" method="post" action="{% url 'search' %}" align = "center">
                {% csrf_token %}
                <!-- Display the search form elements here -->
                <input class="form-control" type="text" size="50" name="query" value="" id="query" />
                <input class="btn btn-primary" type="submit" name="submit" value="Papa Bless" />
                <br />
            </form></center>

            <div class="panel">
                {% if result_list %}
                    <div class="panel-heading">
                    <h3 class="panel-title">↓Results in da house↓</h3>
                    <!-- Display search results in an ordered list -->
                    <div class="panel-body">
                        <div class="list-group">
                            {% for result in result_list %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a></h4>
                                    <p class="list-group-item-text">{{ result.summary }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
 </div>

{% endblock %}